.container{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.heading{
    border-bottom: 1px solid #c4dcf3;
}
th{
    text-align: left;
    color: white;
    background-color: #427fef;
    padding: 5px;
}
td{
    padding: 5px;
}
tr:nth-child(even){
    background-color: lightblue;
}
table{
    border-collapse: collapse;
}

/*Task 2*/
.box{
    background-color:red;
    height: 300px;
    width: 300px;
    border-radius: 2rem;
}
/* When hovered over, the box will turn blue and will include a box shadow of dark blue color*/
.box:hover{
    /*Had to search up how to syntax a box-shadow*/
    box-shadow: 10px 10px darkblue;
    background-color: blue;
}